<div id="post_content">
    <h1 class="title">
    <%= @post.title %>
    </h1>

    <p class="date">
            <span class="date-created">
            Submitted <%= time_ago_in_words(@post.created_at) %>
        </span>

        <span class="date-updated">
            Updated <%= time_ago_in_words(@post.updated_at) %>
        </span> | <%= link_to "Edit", edit_post_path(@post), class: "button" %> | <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
    </p>

    <p class="body">
        <%= @post.body %>
    </p>
</div>
